.RateButtons {
  min-width: 300px;
  max-width: 20rem;
}

.rateButton__text {
  text-align: center;
  font-size: 1rem;
}

.rateButtonRow {
  display: flex;
  justify-content: space-between;
  width: 100% !important;
}

.rateButton__fullWidth {
  width: 100%;
}

.rateButton__halfWidth {
  width: 50%;
}
