.RateButtons {
  display: flex;
  justify-content: center;
}

.rateButton {
  border: 1px solid #000;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.rateButtonRow {
  display: flex;
  justify-content: space-between;
}

.rateButton__fullWidth {
  width: 100%;
}

.rateButton__halfWidth {
  width: 50%;
}
