.MovieBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}

.movieBlock__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.movieBlock__description {
    font-size: 1.5rem;
    margin: 0 1rem;
}

