.ContainerLoading {
  min-height: 90vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loadingBlock {
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loadingIcon {
  -webkit-animation: spin 2s cubic-bezier(0.21, 0.85, 0.78, 0.51) infinite;
  -moz-animation: spin 2s cubic-bezier(0.21, 0.85, 0.78, 0.51) infinite;
  animation: spin 2s cubic-bezier(0.21, 0.85, 0.78, 0.51) infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
