.MovieBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.movieBlock__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
    height: 100%;
}

.movieBlock__description {
    font-size: 1.5rem;
}

