.buttonContainerForBack {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    top: 50%;
    left: 0;
}

.bottomRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    left: 0;
}

.bottomRowButton > span {
    margin-left: 0.25rem;
}